description "Hazelcast Jet"
stop on shutdown
exec java -Dhazelcast.config=/etc/hazelcast-jet/hazelcast.xml -cp {{jet_home}}/lib/hazelcast-{{hazelcast_version}}.jar:{{jet_home}}/lib/hazelcast-client-{{hazelcast_version}}.jar:{{jet_home}}/lib/hazelcast-jet-{{jet_version}}.jar:{{jet_home}}/lib/hazelcast-jet-hadoop-{{jet_version}}.jar:{{hadoop_home}}/share/hadoop/common/lib/*:{{hadoop_home}}/share/hadoop/common/*:{{hadoop_home}}/hadoop-2.7.3/share/hadoop/hdfs/*:{{hadoop_home}}/share/hadoop/hdfs/lib/*:{{hadoop_home}}/share/hadoop/hdfs/*:{{hadoop_home}}/share/hadoop/mapreduce/lib/*:{{hadoop_home}}/share/hadoop/mapreduce/* com.hazelcast.jet.server.StartServer > /var/log/hazelcast-jet.log 2>&1
